/*****BASE STYLES*****/

body {
  background: linear-gradient(
    to right,
    #9cc9df 0%,
    #9cc9df 50%,
    #efa351 50%,
    #efa351 100%
    );
}

/***** GRID *****/
.full-width {
  width: 1200px;
  margin: auto;
}

.half-width {
  width: 600px;
  float:left;
}

/***** MAIN *****/

h1 {
  color: #052548;
  font-family: 'Playfair Display', serif;
  font-size: 150px;
  line-height: 90%;
  margin-top: 50px;
  margin-bottom: 36px;
  text-align: center;
}

img {
  border-radius: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

h2 {
  color: #052548;
  font-family: 'Raleway', sans-serif;
  font-size: 34px;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
}

h3 {
  color: #052548;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 35px;
  text-align: center;
}
